@import "src/variables";

.dashboard-wrapper {
  padding: 50px;
  height: 100%;

  #paginator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    input {
      max-width: 50px;
      text-align: center;
      height: 15px;
    }

    img {
      cursor: pointer;
      margin: 0 10px;

      &:last-of-type {
        transform: rotate(180deg);
      }
    }

    select {
      margin: 0 10px;
    }
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 650px) {
  .dashboard-wrapper {
    padding: 0;
  }
}
