<div class="dashboard-wrapper" [class.loading]="loading">
  <div id="paginator">
    <label *ngIf="quotes.length > 0">Quotes ({{from}} to {{to}} of {{totalRecords}} results)</label>
    <img src="assets/images/arrow.svg" alt="arrow" (click)="goToPreviousPage()"/>
    <input type="number" [(ngModel)]="pageIndex" (change)="updateManualPage($event)"/>
    <img src="assets/images/arrow.svg" alt="arrow" (click)="goToNextPage()"/>
    <select (change)="setTag($event)" [(ngModel)]="selectedTag">
      <option value="All">All</option>
      <option *ngFor="let tag of tags" value="{{tag['name']}}">{{tag['name']}}</option>
    </select>
  </div>
  <div *ngIf="quotes.length  === 0">No Quotes found. </div>
  <div class="cards-container" *ngIf="quotes.length > 0">
    <div *ngFor="let quote of quotes" class="card" (click)="goToQuote(quote)" [style]="{cursor: 'pointer'}">
      <h3>{{quote['content']}}</h3>
      <div><strong>Author:</strong> {{quote['author']}}</div>
      <div><strong>Tags:</strong> {{quote['tags']}}</div>
    </div>
  </div>
</div>
