<div class="details-wrapper">
  <h2>{{quote?.content}}</h2>
  <div class="card">
    <h4>Details</h4>
    <h3>{{quote?.author}}</h3>
    <div><strong>Author slug:</strong> {{quote?.authorSlug}}</div>
    <div><strong>Tags</strong> {{quote?.tags}}</div>
  </div>
</div>
