<div class="form-wrapper" *ngIf="form">
  <h3>{{formData.confirmPassword ? 'Create a new account' : 'Login to your account'}}</h3>
  <form [formGroup]="form" (submit)="onSubmit()">
    <div>
      <label>Your email</label>
      <input type="email" formControlName="email"/>
    </div>
    <label class="error" *ngIf="form.touched && (form.controls.email?.errors?.required || form.controls.email?.errors?.pattern)">
      Please enter a valid email address (Ex: johndoe@domain.com).
    </label>

    <div>
      <label>Your password</label>
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password"/>
      <img src="assets/images/eye.svg" (mousedown)="showPassword = !showPassword" (mouseup)="showPassword = !showPassword" class="icon" [ngClass]="{'icon--visible': showPassword}"/>
    </div>
    <label class="error" *ngIf="form.touched && (form.controls.password?.errors?.required || form.controls.password?.errors?.pattern)">
      Field must contain one uppercase, one lowercase, one digit and one special character.
    </label>
    <div *ngIf="formData.confirmPassword">
      <label>Confirm password</label>
      <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"/>
      <img src="assets/images/eye.svg" (mousedown)="showConfirmPassword = !showConfirmPassword" (mouseup)="showConfirmPassword = !showConfirmPassword" class="icon" [ngClass]="{'icon--visible': showConfirmPassword}"/>
    </div>
    <label class="error" *ngIf="form.controls.confirmPassword?.errors?.mustMatch">
      Please enter the same value again.
    </label>
    <div>
      <label *ngIf="formData.confirmPassword"><a [routerLink]="['/login']">Back to Login</a></label>
      <label *ngIf="!formData.confirmPassword">No account? <a [routerLink]="['/register']">Create one</a></label>
      <button class="btn" type="submit" [class.loading]="loading" [disabled]="!form.valid">{{formData.confirmPassword ? 'REGISTER' : 'LOGIN'}}</button>
    </div>
  </form>
</div>
