/* You can add global styles to this file, and also import other style files */
@import "./variables";

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-wrapper {
  position: relative;
  max-width: 450px;
  margin: auto;
  border: 1px solid $lightgrey;
  padding: 40px;
  box-shadow: 0 2px 4px $lightgrey;

  h3 {
    text-align: center;
  }

  form {
    div {
      display: flex;
      flex-direction: column;
      padding: 15px 0 0;
      position: relative;

      label {
        font-size: 12px;
      }

      input {
        margin: 5px 0;
        padding: 10px 5px;
        border-radius: 5px;
        border: 1px solid $lightgrey;
      }

      &:last-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    .icon {
      position: absolute;
      width: 25px;
      height: 25px;
      bottom: 10px;
      right: 10px;
      cursor: pointer;

      &--visible {
        background-color: $blue;
      }
    }
  }
}
.btn {
  padding: 7px 25px;
  color: $white;
  background-color: $blue;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.error {
  color: $red;
  font-size: 11px;
}

.card {
  min-height: 200px;
  width: 30%;
  border: 3px solid $lightgrey;
  box-shadow: 0 2px 4px $lightgrey;
  margin: 20px 20px 20px 0;
  background-color: $white;
  padding: 10px;

  h3 {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  div {
    padding: 10px 0;
  }

  &:hover {
    box-shadow: 0 8px 12px $blue;
  }
}
@media screen and (max-width: 850px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-color: $lightgrey;
  }

  .card {
    width: 100%;
    margin: 20px 0;;
  }

  .form-wrapper {
    background-color: white;

    .btn {
      margin-bottom: 20px;
      width: 100%;
    }

    form div:last-of-type {
      flex-direction: column-reverse;

    }
  }
}

.loading {
  position: relative;
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: -15px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 15;
  }

  &:after {
    content: "";
    position: absolute;
    border: 2px solid #edb29c;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    z-index: 15;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
